{% extends "base.html" %}
{% set pagina = 'report' %}

{% block titlu %}Detailed Report{% endblock %}

{% block continut %}
<h1>System Health Monitor</h1>

<!-- Logs Table -->
<div class="card">
    <h3 style="margin-bottom: 1rem; color: #0f172a;">Full Snapshot History</h3>
    {% if metrics %}
        <table>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Memory</th>
                    <th>System</th>
                    <th>DB Traffic</th>
                    <th>DB Performance</th>
                </tr>
            </thead>
            <tbody>
                {% for log in metrics[-100:]|reverse %}
                <tr>
                    <td style="font-family: monospace;">{{ log.timestamp.split('T')[1][:8] if 'T' in log.timestamp else log.timestamp }}</td>
                    <td>
                    <span class="{{ 'text-danger' if log.system.ram_max > 80 else '' }}">
                        RAM: {{ log.system.ram_max }}%
                    </span><br>
                    
                    <small style="color: #94a3b8;">Swap: {{ log.system.swap_memory_max }}%</small>
                </td>

                <!-- SYSTEM BUNDLE -->
                <td>
                    <span class="{{ 'text-danger' if log.system.cpu_max > 80 else '' }}">
                        CPU: {{ log.system.cpu_max }}%
                    </span><br>
                    Disk: {{ log.system.disk_percent }}%
                </td>

                <!-- TRAFFIC BUNDLE -->
                <td>
                    Total(Avg): {{ log.connections.average_connections }}<br>
                    Active: {{ log.connections.active_connections }} <br>
                    Idle: {{ log.connections.idle_connections }}
                </td>

                <!-- PERFORMANCE BUNDLE -->
                <td>
                    <span class="{{ 'text-danger' if log.connections.slow_queries > 5 else '' }}">
                        Slow Queries: {{ log.connections.slow_queries }}
                    </span><br>
                    Longest Read Q: {{ log.connections.longest_read}}s<br>
                    Longest Write Q: {{ log.connections.longest_write }}s<br>
                    Database Size: {{ log.db_size }}<br>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>No data available yet.</div>
    {% endif %}
</div>


{% endblock %}